# Rename to .env locally and fill with your own secrets. DO NOT commit .env.

# AWS
AWS_ACCESS_KEY_ID="💩💩💩💩"
AWS_SECRET_ACCESS_KEY="💩💩💩💩"
AWS_DEFAULT_REGION=us-east-1

# npm / package registry
NPM_TOKEN=💩💩💩💩

# Docker registry (if needed)
DOCKER_USERNAME=💩💩💩💩
DOCKER_PASSWORD=💩💩💩💩

# Other app-specific secrets
DT_API_KEY="😂😂😂😂"
